*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: linear-gradient( 360deg, #0F4276, #040109 );
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* Botão seleciona tema */
.theme {
  width: 100%;
  height: 100vh;
  display: flex;
}
.alter-theme {
  width: 98%;
  padding: 10px 0;
  display: flex;
  align-items: end;
  justify-content: end;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  right: 6px;
  background:  linear-gradient( 360deg, #0F4276, #040109 );
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -6px;
  background-color: #0B6A20;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background:  linear-gradient( 360deg, #760F59, #040109 );
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.corpo {
  width: 100%;
  margin: 5% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-computer-books {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.computer-books {
  width: 50%;
}
.computer-books-register {
  width: 40%;
}
.computer-books:hover {  
  opacity: 0.5;
  transition: 0.5s;
}
.login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  color: #FFFF;
  margin: 20px 0 40px 0;
}
.input-form {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 12px 0;
  background-color: #adbbea60;
  color: #FFFF;

  border-radius: 5px;
  outline: none;
  border: none;
}
.input-form-sub-campos {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 12px 0;
  background-color: #adbbea60;
  color: #FFFF;

  border-radius: 5px;
  outline: none;
  border: none;
}
.form-login, label {
  color: #FFFF;
  font-weight: 600;
}
.btn {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 8px 0;
  color: #FFFF;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  opacity: 0.5;
  transition: 0.6s;
}
.btn-primary {
  background:  linear-gradient( 360deg, #010047b6, #5f52ecc0 );
}
.btn-secondary {
  background:  linear-gradient( 360deg, #5f52ec1a, #5E52EC );
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.link-Register {
  width: 100%;
  margin: 20px 0;
  text-decoration: none;
}
.btn-disable {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 8px 0;
  color: #FFFF;
  font-weight: 600;

  cursor: wait;
  background-color: rgb(224, 224, 224);

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Página de cadastro de usuário */
.dois-campos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-campos {
  width: 45%;
}
.menu-externo {
  width: 150px;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-interno {
  width: 80%;
  min-height: 80vh;
  border-right: 2px solid #FFFF;
}
.show-icons {
  width: 80%;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.active {
  border-left: 2px solid #FFFF;
}
.link-icon {
  text-decoration: none;
}
.icon {
  width: 28px;
}
.icon:hover {
  border-left: 2px solid #FFFF;
}
.corpo-logado {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  /* border: 2px solid #FFFF; */
}
.user-name {
  width: 100%;
  color: #FFFF;

  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 2px solid #FFFF; */
}
.ola-user {
  width: 100%;
  color: #FFFF;
}
.dois-elementos {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dois-elementos, h3 {
  color:#FFFF;
  margin: 0 0 15px 0;
}
.elemento {
  width: 48%;
  margin: 20px 0;
  min-height: 200px;
  /* border: 2px solid #FFFF; */
}
.sub-elemento {  
  width: 100%;
  min-height: 150px;
  border-radius: 5px;
  background-color: #d9d9d93a;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-elemento-interno {
  width: 80%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-elemento-interno, p {
  font-size: 13px;
  text-align: justify;
  line-height: 23px;
}
.cadastra-livro {
  width: 50%;
}
.mostra-livros-cadastrados {
  overflow-x: hidden;
  white-space: nowrap;

  display: flex;
  align-items: center;
}
.capa-livro {  
  border-radius: 4px;
  display: inline-block;
  /* margin-right: 40px;
  margin-left: 2px; */

  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;

  width: 95px;
  min-height: 130px;
  background-color: #0b6a2077;
}
.capa-livro:hover{
  cursor: pointer;
  box-shadow: 0 0 1em #767676f8;
}
.capa-livroS {    
  border-radius: 4px;
  display: inline-block;
  /* margin-right: 40px;
  margin-left: 2px; */
  white-space: normal;

  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;

  width: 95px;
  min-height: 130px;
  background-color: #0c0a7d77;
}
.capa-livroS:hover{
  cursor: pointer;
  box-shadow: 0 0 1em #767676f8;
}
.logout-um {
  width: 100%;
  min-height: 100vh;
  color: #FFFF;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Slide */
.btn-slideDiv, button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 5px;
}
.icon-btn-slide {
  width: 28px;
  opacity: 0.1;
  transition: 0.3s;
}
.icon-btn-slide:hover {
  opacity: 1;
}
.container::-webkit-scrollbar {width: 0; height: 1px;}
.container {overflow: -moz-scrollbars-none; }
.container {-ms-overflow-style: none; }
.container {
  width: 90%;
  height: 160px;
  /* border: 1px solid #ccc; */
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 0 0 0;
}
.content {
  width: 150%;
  display: flex;
  justify-content: space-around;
}
.sub-elemento-slide {
  width: 100%;
  border-radius: 5px;
  background-color: #d9d9d93a;

  display: flex;
  align-items: center;
  justify-content: center;
}
.width-slide {
  width: 1080px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.width-slide-livros-em-leitura {
  width: 520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content-livros-em-leitura {
  width: 300%;
  display: flex;
  justify-content: space-around;
}

/* Rodapé */
.version {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 9px;
  color: #FFFF;
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 430px) {
  .theme {
    flex-direction: column;
    justify-content: center;
  }
  .corpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-computer-books {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login {
    width: 100%;
  }
  .form-login {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-login, label {
    color: #FFFF;
    font-size: 13px;
    font-weight: 600;
  }
  .link-Register {
    width: 100%;
    margin: 20px 0;
    text-decoration: none;
  }
  .title {
    font-size: 14px;
  }
}